@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.container{
    display: flex;
    margin: 40px;
}
.header{
    margin:  20px 60px;
    font-size: 18px;
    color: gray;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
}